<%- include('partials/header') %>  
  <div id="landing-header" class="container d-flex">
    <div class="row">
      <div class="col-sm-3">
        <div class="row">
          <div class="col-sm-12 imageDiv">
              <img id="portfolioImageId" src="/images/Portfolio Image.jpg" class="img-fluid rounded">           
          </div>
        </div>
      </div>
    
      <div class="col-sm-9">
        <h1>Software Developer</h1>
        <p>Hi, here is a little bit about me...</p>
        <p>
            After my undergraduate degree in Accounting and Finance, I was all set to work in banking as a credit analyst and work my way up to a CFA career. All that changed when I was introduced to
            programming by a friend. I loved programming and creating something concrete that people could use everyday. I knew I had to swtich career so I self taught Java programming and entered the workforce
            as a Software Engineer at Accenture. I worked in various projects for over 6 years as a software developer focusing on front-end and back-end web development. 
            I worked on all phases of the software lifecycle on the projects and took on lead roles. 
        </p>
        <p>
            I commit myself one hundred percent to everything I do. That is why after almost a seven year stint at Accenture I made a decision to take a break from work when my son was born.
            Now after 5 years and two children later, I am ready to get back into the workforce and continue to pursue my passion.
        </p>

        <p>
            As a way to brush up on my coding skills and update myself on new technologies, I have created this resposive website from scratch and included other projects I worked on recently.
            I have also taken many relevant courses online to get me up to speed.
        </p>
      </div>
    </div>
  </div>

  
    <%- include('partials/footer') %>  