<%- include('partials/header') %>

<!--Color Guessing Game-->
<div id="landing-header" class="container">
  <div class="row d-flex justify-content-center">
  <div class = "card" style="width: 18rem;">
        <div class="card-header">
          <a id="card-header-link" href="https://sgomadam13.github.io/Color-Game/" target="_blank">Color Game</a>
        </div>
        <div class="card-body">
          <p class="card-text">I have created a simple color guessing game using RGB colors as part of a class project. This website relies heavily on javascript.</p>
        </div>
      </div>
    
      <!--To Do List-->
      <div class = "card" style="width: 18rem;">
          <div class="card-header">
            <a id="card-header-link" href="https://sgomadam13.github.io/To-Do-List/" target="_blank">To-Do List</a>
          </div>
          <div class="card-body">
          <p class="card-text">I have created a simple To-Do List using jQuery. This website uses Font-Awesome and Gradients</p>
          </div>
      </div>
      
      <!--Patatap project-->
      <div class = "card" style="width: 18rem;">
        <div class="card-header">
          <a id="card-header-link" href="https://sgomadam13.github.io/patatapCircles/" target="_blank">Patatap Circles</a>
        </div>
        <div class="card-body">
        <p class="card-text">As part of a class project I created a patatap application that makes animation and sounds come alive when you press any key between A-Z. 
          This project uses paper.js for animation and howler.js for sounds.
        </p>
        </div>
      </div>

      <!--YelpBook project-->
      <div class = "card" style="width: 18rem;">
        <div class="card-header">
            <a id="card-header-link" href="https://shrouded-everglades-14262.herokuapp.com/" target="_blank">YelpBook</a>
        </div>
        <div class="card-body">
          <p class="card-text">This is an Express based node.js project to add and comment on books. The project uses mongoDB Atlas to store data in the cloud.
          </p>
        </div>
      </div>

      </div>
  </div>

      <%- include('partials/footer') %> 