<%- include('partials/header') %>
<div id="landing-header" class="container">
    <h2>My Skills</h2>
</br>
<table align="center">
    <tr>
        <td>
            <div class="col col-6 col-sm-2 btn-group-toggle" data-toggle="buttons">
                <label class="btn btn-secondary active">
                    <input type="checkbox" checked autocomplete="off"> Java
                </label>
            </div>        
        </td>
        <td>
            <div class="col col-6 col-sm-2 btn-group-toggle" data-toggle="buttons">
                <label class="btn btn-secondary active">
                    <input type="checkbox" checked autocomplete="off"> Java Spring Framework
                </label>
            </div>
        </td>
        <td>
            <div class="col col-6 col-sm-2 btn-group-toggle" data-toggle="buttons">
                <label class="btn btn-secondary active">
                    <input type="checkbox" checked autocomplete="off"> Spring Boot
                </label>
            </div>
        </td>
        <td>
            <div class="col col-6 col-sm-2 btn-group-toggle" data-toggle="buttons">
                <label class="btn btn-secondary active">
                    <input type="checkbox" checked autocomplete="off"> J2EE
                </label>
            </div>
        </td>
    </tr>
    <tr>
        <td>
            <div class="col col-6 col-sm-2 btn-group-toggle" data-toggle="buttons">
                <label class="btn btn-secondary active">
                    <input type="checkbox" checked autocomplete="off"> JSP
                </label>
            </div>
        </td>
        <td>
            <div class="col col-6 col-sm-2 btn-group-toggle" data-toggle="buttons">
                <label class="btn btn-secondary active">
                    <input type="checkbox" checked autocomplete="off"> Node JS
                </label>
            </div>
        </td>
        <td>
            <div class="col col-6 col-sm-2 btn-group-toggle" data-toggle="buttons">
                <label class="btn btn-secondary active">
                    <input type="checkbox" checked autocomplete="off"> Express
                </label>
            </div>
        </td>
        <td>
            <div class="col col-6 col-sm-2 btn-group-toggle" data-toggle="buttons">
                <label class="btn btn-secondary active">
                    <input type="checkbox" checked autocomplete="off"> MongoDB
                </label>
            </div>
        </td>
    </tr>
    <tr>
        <td>
            <div class="col col-6 col-sm-2 btn-group-toggle" data-toggle="buttons">
                <label class="btn btn-secondary active">
                    <input type="checkbox" checked autocomplete="off"> Mongoose
                </label>
            </div>
        </td>
        <td>
            <div class="col col-6 col-sm-2 btn-group-toggle" data-toggle="buttons">
                <label class="btn btn-secondary active">
                    <input type="checkbox" checked autocomplete="off"> CSS
                </label>
            </div> 
        </td>
        <td>      
            <div class="col col-6 col-sm-2 btn-group-toggle" data-toggle="buttons">
                <label class="btn btn-secondary active">
                    <input type="checkbox" checked autocomplete="off"> Bootstrap
                </label>
            </div>  
        </td>
        <td>
            <div class="col col-6 col-sm-2 btn-group-toggle" data-toggle="buttons">
                <label class="btn btn-secondary active">
                    <input type="checkbox" checked autocomplete="off"> JQuery
                </label>
            </div> 
        </td>
    </tr>
    <tr>
        <td>  
            <div class="col col-6 col-sm-2 btn-group-toggle" data-toggle="buttons">
                <label class="btn btn-secondary active">
                    <input type="checkbox" checked autocomplete="off"> REST/RESTful Routing
                </label>
            </div>
        </td>
        <td>
            <div class="col col-6 col-sm-2 btn-group-toggle" data-toggle="buttons">
                <label class="btn btn-secondary active">
                    <input type="checkbox" checked autocomplete="off"> API
                </label>
            </div> 
        </td>
        <td>
            <div class="col col-6 col-sm-2 btn-group-toggle" data-toggle="buttons">
                <label class="btn btn-secondary active">
                    <input type="checkbox" checked autocomplete="off"> Selenium
                </label>
            </div> 
        </td>
        <td>
            <div class="col col-6 col-sm-2 btn-group-toggle" data-toggle="buttons">
                <label class="btn btn-secondary active">
                    <input type="checkbox" checked autocomplete="off"> QTP
                </label>
            </div> 
        </td>
    </tr>
</table>

    
</div>

<%- include('partials/footer') %>
